@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  /* no underline */
}

.container {
  max-width: 540px;
  margin: 0 auto;
}

h1 {
  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #FFFFFF;
}

p {
  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  color: #FFFFFF;
}

#del, #reset, #equal {
  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

body {
  background: #3A4663;
  height: 100vh;
  overflow-x: hidden;
  padding: 0 24px 0 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 32px;
}

@media (min-width: 540px) {
  .header {
    margin-top: 96px;
  }
}

.header .switch-section {
  display: flex;
  width: 141px;
  justify-content: space-between;
  align-items: flex-end;
}

.header .switch-section #theme-word {
  padding-bottom: 5px;
}

.header .theme-number-switch {
  display: flex;
  justify-content: space-around;
  width: 71px;
  margin-bottom: 5px;
}

.header .theme-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #242D44;
  border-radius: 13px;
  width: 71px;
  height: 26px;
}

.header .theme-toggle .custom-radio-button {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header .theme-toggle .custom-radio-button input {
  display: none;
}

.header .theme-toggle .custom-radio-button .checkmark {
  width: 16px;
  height: 16px;
  background-color: #D03F2F;
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.header .theme-toggle .custom-radio-button input:checked + .checkmark {
  opacity: 1;
  display: inline-block;
}

.display-section {
  background: #181F33;
  width: 100%;
  height: 88px;
  border-radius: 10px;
  padding: 0 24px 0 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 24px;
}

@media (min-width: 540px) {
  .display-section {
    height: 128px;
    padding: 0 32px 0 32px;
  }
}

.display-section p {
  font-size: 32px;
}

@media (min-width: 540px) {
  .display-section p {
    font-size: 48px;
  }
}

.calculator {
  background-color: #242D44;
  border-radius: 10px;
  padding: 24px;
}

@media (min-width: 540px) {
  .calculator {
    padding: 32px;
  }
}

.calculator #del, .calculator #reset {
  background: #647198;
  box-shadow: inset 0px -4px 0px #414E73;
  transition: 0.1s all;
}

.calculator #del:hover, .calculator #reset:hover {
  background: #A2B2E1;
}

.calculator #del:active, .calculator #reset:active {
  transform: scale(0.98);
  box-shadow: inset 0px -2px 0px #414E73;
}

.calculator #equal {
  background: #D03F2F;
  box-shadow: inset 0px -4px 0px #93261A;
  transition: 0.1s all;
}

.calculator #equal:hover {
  background: #F96B5B;
}

.calculator #equal:active {
  transform: scale(0.98);
  box-shadow: inset 0px -2px 0px #93261A;
}

.calculator .calculator-button-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 13px;
  margin-bottom: 13px;
}

@media (min-width: 540px) {
  .calculator .calculator-button-section {
    gap: 24px;
    margin-bottom: 24px;
  }
}

.calculator .calculator-button-section input[type=button] {
  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 31px;
  color: #242D44;
  height: 62px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: #EAE3DC;
  box-shadow: inset 0px -4px 0px #B3A497;
  cursor: pointer;
  transition: 0.1s all;
}

.calculator .calculator-button-section input[type=button]:hover {
  background: #FFFFFE;
}

.calculator .calculator-button-section input[type=button]:active {
  transform: scale(0.98);
  box-shadow: inset 0px -2px 0px #B3A497;
}

.calculator .reset-equals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 13px;
}

@media (min-width: 540px) {
  .calculator .reset-equals {
    gap: 24px;
  }
}

.calculator .reset-equals input[type=button] {
  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 31px;
  color: #242D44;
  height: 62px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: #EAE3DC;
  box-shadow: inset 0px -4px 0px #B3A497;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */