@import 'reset';
body {
    background: var(--bg);
    height: 100vh;
    overflow-x: hidden;
    padding: 0 24px 0 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 32px;
    @include desktop-screen {
        margin-top: 96px;
    }
    .switch-section {
        display: flex;
        width: 141px;
        justify-content: space-between;
        align-items: flex-end;

        #theme-word{
            padding-bottom: 5px;
        }
    }

    .theme-number-switch {
        display: flex;
        justify-content: space-around;
        width: 71px;
        margin-bottom: 5px;
    }

    .theme-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--theme-switch-input);
        border-radius: 13px;
        width: 71px;
        height: 26px;

        .custom-radio-button {
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            input {
                display: none;
            }

            .checkmark {
                width: 16px;
                height: 16px;
                background-color: var(--theme-switch-ball);
                border-radius: 50%;
                display: inline-block;
                opacity: 0;
                transition: opacity 0.3s ease;

                &:hover{
                    background-color: var(--equal-hover);
                }
             }
         }

         .custom-radio-button input:checked + .checkmark {
            opacity: 1;
            display: inline-block;
         }
         
     }
}

.display-section {
    background: var(--bg-display);
    width: 100%;
    height: 88px;
    border-radius: 10px;
    padding: 0 24px 0 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 24px;
    @include desktop-screen {
        height: 128px;
        padding: 0 32px 0 32px;
    }
    p {
        font-size: 32px;
        @include desktop-screen {
            font-size: 48px;
        }
    }
}

.calculator {
    background-color: var(--bg-calculator);
    border-radius: 10px;
    padding: 24px;
    @include desktop-screen {
        padding: 32px;
    }

    #del, #reset {
        @include font(20px, 22px, var(--delete-reset-text-color));
        background: var(--delete-reset-color);
        box-shadow: inset 0px -4px 0px var(--delete-reset-color-shadow);
        transition: 0.1s all;
        &:hover{
            background: var(--delete-reset-color-hover);
        }
        &:active{
            transform: scale(0.98);
            box-shadow: inset 0px -2px 0px var(--delete-reset-color-shadow);
        }

    }

    #equal {
        @include font(20px, 22px, var(--equal-text-color));
        background: var(--equal);
        box-shadow: inset 0px -4px 0px var(--equal-shadow);
        transition: 0.1s all;
        &:hover{
            background: var(--equal-hover);
        }
        &:active{
            transform: scale(0.98);
            box-shadow: inset 0px -2px 0px var(--equal-shadow);
        }
    }

    .calculator-button-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 13px;
        margin-bottom: 13px;

        @include desktop-screen {
            gap: 24px;
            margin-bottom: 24px
        }
    
        input[type = button] {
            @include font(28px, 31px, var(--button-number-color));
            height: 62px;
            width: 100%;
            border: none;
            border-radius: 5px;
            background: var(--button-bg-color);;
            box-shadow: inset 0px -4px 0px var(--button-color-shadow);
            cursor: pointer;
            transition: 0.1s all;

            &:hover{
                background: var(--button-color-hover);
            }

            &:active{
                transform: scale(0.98);
                box-shadow: inset 0px -2px 0px var(--button-color-shadow);
            }
        }
    }
    .reset-equals{ 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 13px;

        @include desktop-screen {
            gap: 24px;
        }

        input[type = button] {
            height: 62px;
            width: 100%;
            border: none;
            border-radius: 5px;
            // background: $button-color;
            box-shadow: inset 0px -4px 0px #B3A497;
            cursor: pointer;
        }
    }
}






